.carousel_row {
    display: flex;
    // align-items: center;
    justify-content: center;
}
.carousel {
    width: 100%;
    max-height: 35vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    .carousel-control-icon  {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--white);
        

        img {
            width: 10px;
            height: 15px;
            margin: 0 auto;
        }
    }

    .carousel-control-prev, .carousel-control-next {
        opacity: 1 !important;
    }


    @media screen and (min-width: 992px) {
        width: 80% !important;
        max-height: 50vh;
        align-self: center;
        border-radius: 2rem;
        padding: 0 !important;
    }
}


.gallery_thumbnails {
    display: none !important;

    @media screen and (min-width: 992px) {
        display: flex !important;
        margin-top: 2rem !important;
        justify-content: center;
        .thumbnail_holder  {
            display: flex;
            width: 80%;
            justify-content: space-between;
            padding: 0;
            div {
                position: relative;
                width: 20%;

                img {
                    width: 100%;
                    border-radius: 1rem;
                    opacity: 1;
                    transition: opacity 0.25s ease-in-out;

                    &:hover {
                        opacity: 0.5;
                    }
                }
                &::after {
                    content: "";
                    z-index: -1;
                    position: absolute;
                    top: 0; left: 0; right: 0; bottom: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 1rem;
                    // border: 2px solid transparent;
                    background-color: var(--white);
                }
                
            }
            
            .active_thumbnail {
                img {
                    opacity: 0.5;
                }

                &::after {
                    content: "";
                    z-index: -1;
                    position: absolute;
                    top: 0; left: 0; right: 0; bottom: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 1rem;
                    border: 2px solid var(--orange);
                    background-color: var(--white);
                }
            }
        }
        
    }
}


.gallery_modal {
    .modal-lg {
        .modal-content {
            background-color: transparent !important;
            border: none;
            align-items: center;

            .gallery_thumbnails {
                width: 70%;
            }

            .carousel_row {
                margin: 0 !important;
                    
            }
            .carousel-inner {
                width: 85%;
                border-radius: 2rem;
            }
            .carousel-control-icon {
                width: 4rem;
                height: 4rem;
            }
            .carousel-control-icon:hover {
                svg path {
                    stroke: var(--orange);
                }
            }
            .modal-header {
                width: 70%;
                border-bottom: none !important;
                display: flex;
                justify-content: flex-end;
                button {
                    border: none;
                    background-color: transparent;
                    svg path {
                        fill: var(--white);
                    }
                    transform: scale(1.2);

                    &:hover {
                        svg path {
                            fill: var(--orange);
                        }
                    }
                }
            }
        }
    }
    
}