nav.navbar {
    background-color: var(--white);
    padding: 1.25rem 0;

    @media screen and (min-width: 992px) {
        .container-fluid {
            align-items: center;
            justify-content: center;
            margin-bottom: 4rem;
        }
    }
}


.navigation-grid {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr;
    align-items: center;

    @media screen and (min-width:992px) {
        width: 80%;
        grid-template-columns: 0.75fr 4fr auto auto;
        padding-bottom: 2rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid var(--grey-blue);
    
    }
}

.offcanvas {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 1.2rem;
    width: 65% !important;
}

.offcanvas-header button {
    border: none;
    outline: none;
    background-color: transparent;
}

.offcanvas-body {
    margin-left: 0.5rem;

    .nav-link {
        @media screen and (min-width: 992px) {
            margin-right: 1rem;

            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 5px;
                background-color: var(--orange);
                bottom: calc(-2rem - 5px);
                left: 0;
                transition: width 0.25s ease-in-out;
            }
        
            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }
    }
}

.navbar-toggler {
    border: none !important;
}

.nav-link {
    position: relative;
    
    .hide_number {
        display: none;
    }
    .cart_item_number {
        position: absolute;
        top: -0.5rem;
        right: 1rem;
        width: 1.25rem;
        height: 0.85rem;
        border-radius: 0.5rem;
        background-color: var(--orange);
        font-size: 0.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        font-weight: 700;
        

        p {
            padding: 0 !important;
            margin: 0 !important;
        }

        @media screen and (min-width:992px) {
            top: -0.5rem;
            right: 0;
            left: 1rem;

            
        }
    }

    
}

#cart-icon path {
    fill: var(--black);
}

.cart_desktop {
    @media screen and (min-width:992px) {
        width: 4rem;
        position: relative;
    }
}



#profile-icon {
    width: 60%;
    border: 2px solid transparent;
    transition: border 0.2s ease-in-out;
    border-radius: 50%;
    @media screen and (min-width:992px) {
        width: 50%;

        &:hover {
            border: 2px solid var(--orange);
        }
    }
}

.cart_modal {
    padding-top: 5rem;
    min-width: 90%;
    .modal-content {
        min-height: 30vh;
        .modal-title {
            font-size: 1.2rem;
            font-weight: 700;
        }
        .modal-body {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @media screen and (min-width: 992px) {
        min-width: 25%;
        width: 25%;
        margin-left: 60% !important;
        .modal-content{
            box-shadow: 0 10px 10px 5px hsla(0, 0, 0, 0.25);
        }
        
    }    
}


.empty_cart {
    font-weight: 700;
    color: var(--dark-gb);
    font-size: 1.1rem;
}


.cart {
    .item_cart_info {
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        .cart_product_thumbnail {
            width: 100%;
            border-radius: 0.25rem;
        }

        .cart_item_title, .cart_item_description {
            color: var(--dark-gb);
            line-height: 1;
            margin: 0.25rem auto;

            span {
                font-weight: 700;
                color: var(--black);
            }
        }

        .delete_cart_items {
            border: none;
            background-color: transparent;
            text-align: right;
            margin: 0;
            padding: 0;
            width: 1rem;
            img {
                width: 2rem;
            }
        }
    }

    .cart_checkout_button {
        margin-top: 2rem;
        width: 100%;
        height: 4rem;
        border-radius: 0.75rem;
        color: var(--white);
        background-color: var(--orange);
        font-weight: 700;
        border: none;
    }

 
}


.nav-backdrop {
    opacity: 0 !important;
}